.login-head {
  width: 990px;
  position: relative;
  height: 120px;
  vertical-align: middle;
  margin: auto;
}

.login-head .logo {
  margin: 18px 40px 0 0;
  float: left;
  width: 300px;
  height: 75px;
}

.login-head .logo a {
  display: inline-block;
  background: url("../../../img/login/loginlogo.png") no-repeat;
  width: 300px;
  height: 62px;
  margin-top: 13px;
  color: #5e5e5e;
  text-decoration: none;
  cursor: pointer;
}

.safeTipDiv {
  background-color: #fff4e3;
  border-top: 1px solid #fee6bc;
}

.safeTipDiv .safeTip {
  width: 828px;
  height: 29px;
  padding-left: 10px;
  margin: 0 auto;
  background-color: #fff4e3;
  color: #ff7f23;
  font: 400 12px/29px "Microsoft Yahei";
}

.safeTipDiv .safeTip em {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin: 8px 5px 0 0;
  background: url("../../../img/login/login-bg-common.png") -28px 0;
}

.login-bg {
  width: 100%;
  height: 480px;
  background: #ff1350;
  margin-bottom: -15px;
}

.login-bg .login-bg-box {
  width: 1200px;
  height: 480px;
  margin: auto;
  position: relative;
  background: url("../../../img/login/bg.gif") top center;
}

.login-bg .login-bg-box .login-wrap {
  width: 350px;
  float: right;
  margin-top: 24px;
  margin-right: 105px;
  position: relative;
  background: #fff;
  overflow: visible;
}

.login-bg .login-bg-box .login-wrap .login-wrap-head {
  position: relative;
  height: 54px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-head .left,
.login-bg .login-bg-box .login-wrap .login-wrap-head .right {
  border-bottom: 1px solid #f4f4f4;
  font: 500 18px "Microsoft Yahei";
  text-align: center;
  line-height: 54px;
  color: #5e5e5e;
  height: 54px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-head .left {
  position: absolute;
  left: 0;
  width: 174px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-head .left::after {
  content: "";
  width: 1px;
  height: 27px;
  position: absolute;
  top: 14px;
  right: 0px;
  background-color: #cccccc;
}

.login-bg .login-bg-box .login-wrap .login-wrap-head .right {
  position: absolute;
  right: 0;
  width: 175px;
  color: red;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body {
  height: 241px;
  padding: 25px 11px 0 19px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd {
  width: 300px;
  position: relative;
  padding: 5px 10px 0;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .choose {
  padding: 10px 0 12px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .choose .right {
  width: 120px;
  float: right;
  font-size: 12px;
  text-align: left;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .choose .right a {
  text-decoration: none;
  float: right;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .choose .right .forget {
  color: #2875cc;
  position: relative;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .choose .right .forget::before {
  content: "";
  width: 2px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: -6px;
  background-color: #cccccc;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .choose .right .sign {
  color: #5e5e5e;
  margin-right: 10px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .choose .left {
  float: left;
  color: #A5A5A5;
  font-size: 12px;
  text-align: left;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .choose .left input {
  float: left;
  margin-right: 4px;
  margin-top: 3px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .choose .left label {
  color: #5e5e5e;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .login input {
  display: block;
  width: 290px;
  height: 42px;
  background: #ff5757;
  font: 500 18px/41px "Microsoft Yahei";
  color: #fff;
  text-align: center;
  border: 0 none;
  outline: 0;
  word-spacing: 3px;
  cursor: pointer;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd p {
  padding: 30px 0 15px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd p a {
  color: #2875cc;
  font-size: 12px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .name,
.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .password {
  position: relative;
  height: 52px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .name a,
.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .password a {
  position: absolute;
  top: 0px;
  left: 300px;
  border: 1px solid #ccc;
  width: 155px;
  height: 25px;
  padding: 8px 10px 7px;
  background-color: #fff;
  color: red;
  display: none;
}

.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .name input,
.login-bg .login-bg-box .login-wrap .login-wrap-body .bd .password input {
  position: relative;
  padding: 8px 10px 7px;
  width: 268px;
  height: 25px;
  border: 1px solid #A5A5A5;
  color: #333;
  font-size: 14px;
  outline: none;
  line-height: 21px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-foot {
  clear: both;
  background-color: #fcfcfc;
  padding: 9px 20px;
  color: #a5a5a5;
  position: relative;
  border: 1px solid #f0f0f0;
  font-size: 12px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-foot .more {
  background: url("../../../img/login/login-bg-common.png") no-repeat;
  position: absolute;
  width: 19px;
  height: 19px;
  padding: 0;
  margin: 0;
  top: 8px;
  right: 20px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-foot .kahao a {
  margin-right: 10px;
}

.login-bg .login-bg-box .login-wrap .login-wrap-foot .kahao .a1,
.login-bg .login-bg-box .login-wrap .login-wrap-foot .kahao .a2,
.login-bg .login-bg-box .login-wrap .login-wrap-foot .kahao .a3,
.login-bg .login-bg-box .login-wrap .login-wrap-foot .kahao .a4 {
  position: relative;
}

.login-bg .login-bg-box .login-wrap .login-wrap-foot .kahao .a1::after,
.login-bg .login-bg-box .login-wrap .login-wrap-foot .kahao .a2::after,
.login-bg .login-bg-box .login-wrap .login-wrap-foot .kahao .a3::after,
.login-bg .login-bg-box .login-wrap .login-wrap-foot .kahao .a4::after {
  content: "";
  width: 2px;
  height: 11px;
  position: absolute;
  top: 3px;
  right: -4px;
  background-color: #cccccc;
}
